[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
wordcloud = "*"
sastrawi = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"

[dev-packages]
seaborn = "*"

[requires]
python_version = "3.13"
