[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
wordcloud = "*"
sastrawi = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
transformers = "*"

[dev-packages]
seaborn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
accelerate = ">=0.26.0"

[requires]
python_version = "3.13"
